<ion-content [fullscreen]="true" class="content-background">
  <div class="container">
    <div class="logo-container">
      <ion-img src="/assets/icon/image.png" class="logo animated-logo"></ion-img>
      <p class="welcome-text">¡BIENVENIDO AL TOPICO!</p>
      <p class="university-text">Universidad "SIN NOMBRE"</p>
    </div>
  </div>

  <div class="button-container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button color="dark" routerLink="authP" class="rectangular-button doctor-button">
        <ion-icon name="person" slot="start"></ion-icon>
        Iniciar
      </ion-button>
    </ion-fab>
  </div>
</ion-content>
